.additional-offers__title {
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 81px;
  }
}

.additional-offers__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    max-width: 896px;
  }
}

.additional-offers__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: @special-dark-grey-2;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-offers__info {
  font-family: "Arial", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @special-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
