.example {
  background-color: @light_grey;

  @media (min-width: @tablet-width) {
    position: relative;
    background: linear-gradient(to bottom, @basic-white 577px, @light_grey 462px);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(to bottom, @basic-white 194px, @light_grey 462px);
  }
}

.example__wrapper {
  margin: 0 auto;
  padding: 0;
  min-width: 280px;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 708px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: 1220px;
    padding: 0;
    padding-bottom: 70px;
  }
}

.example__wrapper-slider {
  @media (min-width: @desktop-width) {
    /*margin-left: 0;
    margin-right: -60px;*/
    width: 690px;
    min-height: 656px;
  }
}

.example__wrapper-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    position: relative;
    align-items: flex-start;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    margin-bottom: 70px;
    padding: 0;
    padding-top: 57px;
    padding-right: 134px;
  }
}

.example__title {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  align-self: flex-start;

  @media (min-width: @tablet-width) {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 76px;
  }
}

.example__description {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: @special-dark-grey;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
    margin-top: 70px;
    width: 436px;
  }
}

.example__list {
  display: flex;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    width: 366px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.example__item {
  position: relative;
  width: 124px;
  height: 56px;
  text-align: center;
  padding-top: 14px;
  border: 1px solid @special_grey;
  box-sizing: border-box;
  border-radius: 3px;

  &:nth-child(2) {
    margin-left: auto;
  }

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 72px;
  }
}

.example__item-number {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: @basic-black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__item-text {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: @special-dark-grey;
  text-transform: lowercase;
  position: absolute;
  top: 47px;
  left: 22px;
  width: 62%;
  background-color: @light_grey;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    font-size: 14px;
    line-height: 14px;
    top: 62px;
    left: 13px;
    width: 127px;
  }
}

.example__cost {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: @basic-black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    text-align: right;
    width: 174px;
    position: absolute;
    right: 0;
    bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 327px;
    display: flex;

    .example__cost-summ {
      margin-left: 63px;
    }
  }
}

.example__slider {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.example__image-before {
  @media (min-width: @tablet-width) {
    width: 354px;
    overflow: hidden;
  }

  @media (min-width: @desktop-width) {
    width: 361px;
  }
}

.example__image-after {
  display: none;

  @media (min-width: @tablet-width) {
    width: 354px;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }

  @media (min-width: @desktop-width) {
    width: 325px;
  }
}

.example__slider-image {
  height: 232px;

  @media (min-width: @tablet-width) {
    max-width: none;
    width: 708px;
    height: 607px;
  }
}

.example__range-controls {
  margin-top: 25px;
  padding-bottom: 23px;
  padding-left: 38px;
  padding-right: 38px;
}
