.main-nav {
  font-family: "Oswald", "Arial", sans-serif;
  color: @basic-black;
  background-color: @basic-white;
  position: relative;

  &--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -6px;
    width: 24px;
    height: 1.5px;
    background-color: @basic-black;
    box-shadow: 0 8px 0 0 @basic-black, 0 16px 0 0 @basic-black;
  }

  &--opened .main-nav__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: -3px;
      width: 24px;
      height: 1.5px;
      background-color: @basic-black;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  @media (min-width: @tablet-width) {
    background: none;
  }

  @media (max-width: @mobile-width-only) {
    &--closed .main-nav__list {
      display: none;
    }

    &--nojs .main-nav__toggle {
      display: none;
    }
  }
}

.main-nav--nojs .main-nav__toggle {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.main-nav__toggle {
  margin: 0;
  padding: 0;
  position: absolute;
  display: block;
  top: -45px;
  right: 20px;
  width: 18px;
  height: 18px;
  background-color: @basic-white;
  cursor: pointer;
  border: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }

  /*&:focus {
    outline: 0;
  }*/
}

.main-nav__list {
  list-style: none;
  /* display: none;*/
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
    width: 440px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 14px;
    width: 478px;
  }
}

.main-nav__item {
  border-top: 1px solid @border_prelight_grey;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.main-nav__link {
  display: block;
  padding-top: 23px;
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: @basic-black;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -9px;
    left: 0;
    background-color: @basic-green;
    display: none;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link--white {
  @media (min-width: @desktop-width) {
    color: @basic-white;

    &::before {
      background-color: @basic-white;
    }
  }
}

.main-nav__link--active {
  @media (min-width: @tablet-width) {
    &::before {
      display: block;
    }
  }
}
