.main-catalog__title {
  margin: 0;
  margin-bottom: 41px;
  margin-top: 27px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    margin-bottom: 164px;
    margin-top: 55px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 165px;
    margin-top: 67px;
  }
}
