.page-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: none;
  padding-top: 11px;

  @media (min-width: @tablet-width) {
    padding-top: 26px;
    padding-bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    padding-top: 55px;
  }
}

.page-header--wrapper {
  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid @border_prelight_grey;
  }

  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.page-header__logo {
  display: block;
  margin: 0 auto;
  width: 280px;
  padding: 0 20px;
  padding-bottom: 9px;

  &:hover {
    opacity: 0.8;
  }

  &:focus,
  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    width: 174px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 202px;
  }
}

.page-header__logo-image {
  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.page-header__logo-text {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
